* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #006400;
    color: white;
}

header {
    margin: auto;
    padding: 20px;
    background-color: transparent;
    border: inset black;
    border-style: solid 10px;
    border-bottom: solid 5px black;
    box-shadow: 5px 5px 5px black;
    border-radius: 50px;
    width: 650px;
}

nav {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
}

h1 {
    color:  #006400;
    font-weight: bold;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;

}

.gps {
    margin: auto;
    width: 295px;
    height: 90px;
    padding: 1px;
    text-align: center;
    background-color: transparent;
    border: inset black;
    border-style: solid 10px;
    border-bottom: solid 5px black;
    box-shadow: 5px 5px 5px black;
}

.coord {
    margin: 0;
    padding: 5px;
    position: relative;
     border-radius: 25px;
}

.mapBox {
    clear: left;
    margin: auto;
    width: 613px;
}

.map {
    width: 613px;
    margin: 0;
    padding: 10px;
    background-color: #006400;
    border: outset black;
    border-bottom: solid 5px black;
    box-shadow: 5px 5px 5px black;
    border-radius: 25px;
}

::placeholder {
    color: white;
}

.container {
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: #006400;
    border: inset black;
    border-bottom: solid 5px black;
    box-shadow: 5px 5px 5px black;
    border-radius: 25px;
    width: 613px;
}
